html, body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  /*background-color: palegoldenrod;*/
}

.current-status {
  padding: 10px;
  border-radius: 5px;
  .info-text {
    font-style: italic;
    margin-top: 25px;
    background: palegoldenrod;
    padding: 0 10px 0 10px;
  }

  .status-body {
    background-color: whitesmoke;
    padding: 20px;
  }

  .title {
    font-size: large;
  }
}

.notify-block #email, .notify-block #phone {
  display: inline-block;
}

.notify-block {
  #email {
    width: 50%;
  }
  #phone {
    width: 30%;
  }
}

button.btn {
  height: auto;
}

.align-center {
  text-align: center;
}

.mt10 {
  margin-top: 10px;
}

.mt25 {
  margin-top: 25px;
}
.va-m {
  vertical-align: middle;
}
.d-ib {
  display: inline-block;
}

.pinky-promise {
  background-color: #f9f8f2;
  padding: 5px;
  display: inline-block;
  overflow: hidden;
}

.pp-img {
  display: inline-block;
  background: url('/pinky-promise.png') no-repeat;
  height: 60px;
  background-size: contain;
}

.pp-text {
  width: auto;
  vertical-align: middle;
  height: 100%;
  margin-top: 5px;
}


@media (min-width: 860px) {
  .container {
    width: 750px !important;
  }
}